pre {
    font-size: 16px;
    color: #247BA0; /* blue */
    .class { color: #F25F5C; } /* red */
    .inner { color: #70C1B3; } /* green */
    .id { color: #FFE066; } /* yellow */
    .elmt { color: #B58900; } /* brown */
}
