@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
$font: 'Roboto', sans-serif;

$tablet: 768px;
$phone: 425px;

$black: #50514F;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import '_Grid';
@import '_Code';
@import '_Spinner';
@import '_Text';

.sep {
    height: 1px;
    width: 100%;
    background-color: $black;
}

.demo {
    height: 50px;
    background-color: #0892C9;
    border-radius: 2px;
    color: #05668D;
}
