$tablet: 768px
$phone: 425px

$black: #112233
$green: #27AE60
$red: #FC575E
$grey: #D1D5D8
$blue: #2980B9

$font: 'Roboto', sans-serif

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400)

@import 'src/_Mixins'
@import 'src/_Animation'
@import 'src/_Grid'
@import 'src/_Text'
@import 'src/_Button'
@import 'src/_Code'

html, body
    width: 100%
    margin: 0
    padding: 0
    *
        box-sizing: border-box

.bloc-demo
    height: 50px
    background-color: #0892C9
    border: 2px solid #05668D
    color: #05668D
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    p
        text-align: center
        margin: 0
